/* Importando estilo do index */
@import "../../src/assets/css/index.css";
@import "../../src/assets/css/cadastro.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343434;
}
